#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

/*------------------------- solitaire game ----------------------*/

#phaser-container {
  margin: 0 auto;
  width: 800px;
  height: 700px;
  border: 2px solid black;
}